<!doctype html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/estilos.css" />
    <title>Exemplo de projeto Node, Express e EJS.</title>
</head>
<body>

<ul class="navbar-class-ul">
  <li class="navbar-class-li"><a class="navbar-class-a" href="/">Sobre o autor</a></li>
  <li class="navbar-class-li"><a class="navbar-class-a" href="/projetos">Projetos</a></li>
</ul>



